<% include ../../sistem/header.ejs %>
<% include ../../sistem/sidebar.ejs %>
<% include ../../sistem/topbar.ejs %>

<!-- Begin Page Content -->
<div class="container-fluid">

    <div class="container">
        <br>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/aquamatika">Dashboard</a></li>
            <li class="breadcrumb-item"><a href="/aquamatika/menu">Menu</a></li>
            <li class="breadcrumb-item"><a href="/aquamatika/submenu">Submenu Management</a></li>
            <li class="breadcrumb-item active">Edit Submenu</li>
        </ol>
        <br>
        <h3>Edit Submenu</h3>
        <% if(alert.message != '') { %>
        <div class="alert alert-<%= alert.status %>">
            <%= alert.message %>
        </div>
        <% } %>
        <form action="/aquamatika/submenu/<%= dataEdit[0].id %>/edit" method="post">
            <div class="form-group">
                <label for="menu">Menu :</label>
                <select name="menu" id="menu" class="form-control" required>
                    <option value=""> </option>
                    <% for(let i = 0; i < data.length; i++){ %>
                    <% if(data[i].id == dataEdit[0].menu_id){ %>
                    <option selected value="<%= data[i].id %>"><%= data[i].menu %></option>
                    <% }else{ %>
                    <option value="<%= data[i].id %>"><%= data[i].menu %></option>
                    <% } %>
                    <% } %>
                </select>
            </div>
            <div class="form-group">
                <label for="name"> Name :</label>
                <input value="<%= dataEdit[0].title %>" type="text" class="form-control" name="name" id="name" required>
            </div>
            <div class="form-group">
                <label for="url"> URL :</label>
                <input value="<%= dataEdit[0].url %>" type="text" class="form-control" name="url" id="url" required>
            </div>
            <div class="form-group">
                <label for="icon"> Icon :</label>
                <input value="<%= dataEdit[0].icon %>" type="text" class="form-control" name="icon" id="icon" required>
            </div>
            <div class="form-group">
                <label for="active">Active :</label>
                <select name="active" id="active" class="form-control" required>
                    <option value=""> </option>
                    <% if(dataEdit[0].is_active == 1){ %>
                    <option selected value="1">True</option>
                    <option value="0">False</option>
                    <% }else{ %>
                    <option value="1">True</option>
                    <option selected value="0">False</option>
                    <% } %>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>

</div>
<!-- /.container-fluid -->
<% include ../../sistem/footer.ejs %>